<!DOCTYPE html>
<html lang="ru">
<head>

    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Поиск</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,700&subset=latin,cyrillic-ext,cyrillic'
          rel='stylesheet' type='text/css'>
    {#    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/font.css') }}">#}

    <!-- CSS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

    <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {#    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>#}
    <script src="{{ url_for('static', filename='js/droid-serif-n4,i4,n7,i7-all.js') }}"></script>
    <script src="{{ url_for('static', filename='js/differentViews.js') }}"></script>
    <script src="{{ url_for('static', filename='js/urlVariablesHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/renderEntry.js') }}"></script>
    <script src="{{ url_for('static', filename='js/addChar.js') }}"></script>

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body class>

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="wrapper">
    <div id="content">

        <div class="container">
            <div class="row menu">
                <div class="twelve columns" id="menu">
                    <input type="button" class="login-button search-button" value="главная"
                           onClick="window.location='/';"/>
                    <input type="button" class="login-button search-button" value="поиск"
                           onClick="window.location='/search';"/>
                    <input type="button" class="login-button search-button" value="все статьи"
                           onClick="window.location='/explore?slice=0';"/>
                    <input type="button" class="login-button search-button" value="скачать"
                           onClick="window.location='/download';"/>
                    <input type="button" id="new-entry" class="login-button search-button" value="новая статья"
                           onClick="window.location='/edit?edit=new';"/>
                    <span id="greeting"></span>
                    <span id="name"></span>
                    <input id="logButton" type="button" class="login-button" value="log in"
                           onClick="window.location='/login';"/>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row search-row">
                <div class="three columns search-box">
                    <nav>
                        <span class="search-title">Поиск словарных статей.</span><br/>
                        <input type="text" id="query" value="" class="search-input" placeholder="Введите слово..."><br/>
                        <span id="parameters-text">Поиск:</span><br/>
                        <select id="parameters">
                            <option value="header" selected="selected">Только в заголовках</option>
                            <option value="all">Поиск по всем полям</option>
                            <option value="form">По полю "Словоформа"</option>
                            <option value="def">По полю "Определение"</option>
                            <option value="example">По полю "Пример"</option>
                            <option value="place">По полю "Место"</option>
                            <option value="style">По полю "Стиль"</option>
                        </select>
                        <input id="search" type="button" class="login-button search-go" value="найти"
                               onClick="search();"/>
                    </nav>
                    &nbsp;
                </div>
                <div class="nine columns articles">
                    <div id="results"></div>
                </div>
            </div>
        </div>

        <div class="modal"></div>

    </div>

    <div class="container" id="footer">
        <div class="row">
            <div class="three columns" id="footer-name">
                <span>design: gree-gorey</span>
            </div>
            <div class="six columns">
                <span>Устьянский народный словарь, п. Октябрьский, г. Москва, 2016</span>
            </div>
            <div class="three columns" id="footer-links-div">
                <div>
                    <a class="footer-link" href="/contacts">Обратная связь</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
