/*@font-face {*/
    /*font-family: entryFont;*/
    /*src: url(../fonts/EntryFont-Regular.ttf);*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: entryFont;*/
    /*src: url(../fonts/EntryFont-Italic.ttf);*/
    /*font-style: italic;*/
/*}*/

.space {
    display:inline-block;
    width: 7px;
}

.entry-header {
    max-width: 920px;
    margin-top: 70px;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #bababa;
    border-radius: 6px;
    border-width: thin;
}

.entry-container {
    max-width: 920px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #bababa;
    border-radius: 6px;
    border-width: thin;
}

.button-container {
    max-width: 920px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.badge {
    font-size: 14px;
    text-align: center;
    padding: 6px 15px 6px 15px;
    background-color: #ff7373;
    color: white;
    border-radius: 6px;
}

.form-badge {
    padding-left: 12px;
    padding-right: 12px;
    box-shadow: 0px 0px 0px 2px #ff7373 inset;
    padding-top: 3px;
    display:inline-block;
    margin-top: 0px;
    height: 20px;
    color: #ff7373;
    background-color: #FFF;
}

.header-badge {
    font-size: 18px;
    background-color: #ffa771;
}

.sense-badge {
    vertical-align:top;
    display:inline-block;
    height: 25px;
    padding-top: 2px;
    font-size: 18px;
    background-color: #7695f2;
}

input, select {
    margin-bottom: 0px;
}

input.word-input,
select.word-input {
    font-size: 14px;
    height: 30px;
    width: 130px;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-top: 4px;
}

select.word-input {
    width: 95px;
}

input.ana-input {
    width: 60px;
}

input.style-input {
    width: 80px;
}

input.place-input {
    width: 146px;
}

.label {
    display:inline-block;
    font-size: 14px;
    background-color: #afea91;
    height: 30px;
    padding: 6px 10px;
    padding-top: 2px;
    border: 1px solid #D1D1D1;
    border-radius: 6px;
    box-shadow: none;
    box-sizing: border-box;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
}

.form-row {
    margin-top: 10px;
    font-size: 0;
}

label {
    font-weight: normal;
}

input[type="text"]:disabled {
    background: #eceeef;
    color: #aaaaaa;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    height: 30px;
    line-height: 30px;
    margin-bottom: 0px;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    color: #FFF;
    background-color: #ff7373;
    border-color: #ff7373;
    border-radius: 6px;
    height: 30px;
    margin-bottom: 0px;
    line-height: 200%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }

.delete-button {
/*    font-size: 14px;*/
    width: 31px;
    padding-left: 10px;
    padding-right: 9px;
}

.delete-button:hover,
.delete-button:focus {
    color: #ff5a5a;
    border-color: #ff5a5a;
}

.def-textarea {
    font-size: 14px;
    vertical-align:top;
    display:inline-block;
    margin-top: 0px;
    display:inline-block;
    margin-bottom: 0px;
    width: 742px;
    height: auto;
}

#sense {
    vertical-align: top;
    overflow: auto;
}

.def-badge {
    box-shadow: 0px 0px 0px 2px #008a8a inset;
    padding-top: 3px;
    display:inline-block;
    width: 70px;
    margin-top: 0px;
    height: 20px;
    color: #008a8a;
    background-color: #FFF;
}

.example-badge {
    box-shadow: 0px 0px 0px 2px #cea166 inset;
    padding-top: 3px;
    display:inline-block;
    width: 70px;
    margin-top: 0px;
    height: 20px;
    color: #cea166;
    background-color: #FFF;
}

textarea:disabled {
    background: #eceeef;
    color: #aaaaaa;
}

.header-row {
    margin-bottom: 10px;
}

.ref-badge {
    box-shadow: 0px 0px 0px 2px #91719c inset;
    color: #91719c;
    background-color: #FFF;
}

.sense-form-badge {
    box-shadow: 0px 0px 0px 2px #ff7373 inset;
    color: #ff7373;
    background-color: #FFF;
}

input.ref-word-input {
    width: 150px;
}

input.ana-word-input {
    width: 90px;
}

input.sense-place-input {
    width: 165px;
}

input.sense-style-input {
    width: 112px;
}

input.pos-word-input {
    width: 742px;
    border-radius: 6px;
}

input.header-place-word-input {
    width: 786px;
}

.pos-badge {
    box-shadow: 0px 0px 0px 2px #d05e6f inset;
    color: #d05e6f;
    background-color: #FFF;
}

.quote-badge {
    box-shadow: 0px 0px 0px 2px #9e0300 inset;
    color: #9e0300;
    background-color: #FFF;
}

.style-badge {
    box-shadow: 0px 0px 0px 2px #588b31 inset;
    color: #588b31;
    /*color: #f42f2f;*/
    background-color: #FFF;
}

.place-badge {
    box-shadow: 0px 0px 0px 2px #d00147 inset;
    color: #d00147;
    background-color: #FFF;
}

.header-place-badge {
    padding-left: 14px;
    padding-right: 14px;
}

.header-pos-badge {
    padding-left: 13px;
    padding-right: 12px;
}

.delete-button {
    vertical-align:top;
    display:inline-block;
}

.menu {
    position: fixed;
    top: 0;
    width:inherit;
    max-width: 960px;
    background-color: #CC3333;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #fff;
    height: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
}

input.login-button {
    margin-top: 4px;
    vertical-align: middle;
    background-color: #CC3333;
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    height: 30px;
    margin-right: 5px;
    float: right;
}

#greeting {
    display: inline-block;
    margin-top: 7px;
    color: #fff;
    margin-left: 30px;
    /*font-weight: bold;*/
    /*font-variant: small-caps;*/
}

#new-entry {
    display: none;
}

#name {
    display: inline-block;
    margin-top: 7px;
    color: #fff;
    font-variant: small-caps;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: underline;
}

input.search-button {
    margin-left: 5px;
    float: left;
}

input.login-button:hover {
    background-color: #df5f5f;
    color: #fff;
    border-color: #fff;
}

input.login-button:focus {
    background-color: #CC3333;
    color: #fff;
    border-color: #fff;
}

.title-and-button {
    text-align: center;
}

.title {
    margin-top: 200px;
    margin-bottom: 5px;
    color: #CC3333;
    font-size: 50px;
}

hr {
    margin-top: 5px;
    border-color: #CC3333;
    border-width: 2px;
    width: 500px;
}

.description {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}


nav {
    position:fixed; width:220px;
}

.search-row {
    margin-top: 110px;
}

input.search-input,
input.word-input,
textarea {
    font-family: droid-serif, serif;
    /*font-family: entryFont, serif;*/
}

input.search-input {
    font-size: 14px;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    height: 30px;
    width: 200px;
}

.search-title {
    margin-left: 25px;
    font-size: 16px;
}

#parameters-text {
    margin-left: 25px;
    font-size: 16px;
}

#parameters {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    height: 30px;
    width: 200px;
}

label {
    display: inline;
}

.radio-text {
    margin-top: 5px;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

input.search-go {
    margin-top: 20px;
    margin-right: 10px;
    background-color: #fff;
    color: #CC3333;
    border-color: #CC3333;
}

input.search-go:focus,
input.save-button:focus {
    background-color: #fff;
    color: #CC3333;
    border-color: #CC3333;
}

input.search-go:hover,
input.save-button:hover {
    background-color: #fff;
    color: #df5f5f;
    border-color: #df5f5f;
}

input.save-button {
    background-color: #fff;
    color: #CC3333;
    border-color: #CC3333;
    border-width: 2px;
    height: 30px;
}

.articles{
    padding-left: 30px;
    padding-right: 30px;
    z-index: -1;
    font-family: droid-serif, serif;
    /*font-family: entryFont, serif;*/
}

.entry-header-view {
    font-size: 16px;
}

.sense-view {
    margin-top: 10px;
/*    margin-left: 20px;*/
    font-size: 12px;
}

.example,
.quote {
    font-style: italic;
    color: #CC3333;
}

.number {
    font-weight: bold;
}

.sense-box {
    display:inline-block;
    width: 600px;
}

a.lemma {
    text-decoration: underline;
    cursor: pointer;
    color: #CC3333;
}

a.lemma:hover {
    color: #df5f5f;
}

.result-preview {
    font-size: 12px;
    color: #7e7e7e;
}

.login-row {
    text-align: center;
    margin-top: 200px;
}

.login-input {
    margin-top: 5px;
}

.login-div{
    width: 200px;
}

input.login-go {
    margin-top: 10px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url(../images/loader.gif)
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.modal-dialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 400px; /* Could be more or less, depending on screen size */
}

.style,
.place {
    font-style: italic;
}

.entry-header-view .style {
    font-size: 13px;
}

.single-sense-box {
    padding-top: 10px;
}

.search-box {
    padding-left: 20px;
}

.edit-link {
    font-size: 12px;
    color: lightslategrey;
}

.edit-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #CC3333;
    /*color: black;*/
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    /*font-family: myFirstFont;*/
    /*font-style: italic;*/
}

input[type="button"].new-sense {
    margin-left: 10px;
    color: #fff;
    background-color: #7695f2;
    padding-left: 25px;
    padding-right: 25px;
}

input[type="button"].new-sense:hover {
    color: #fff;
    background-color: #95a8e1;
}

input[type="button"].add-button {
    width: 150px;
}

.preview-row {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
}

input.download {
    float: none;
    width: 200px;
}

#export-desc {
    margin-bottom: 30px;
}

.sc {
    font-variant: small-caps;
    font-weight: bold;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
/*#header {*/
	/*background:#ededed;*/
	/*padding:10px;*/
/*}*/
#content {
	padding-bottom: 90px; /* Height of the footer element */
}

#footer {
    height: 60px;
    /*background-color: rgba(0, 0, 0, 0.2);*/
    /*opacity: 0.5;*/
    border-top-color: rgba(204, 51, 51, 0.6);
    border-top-style: solid;
    /*border-top-width: thick;*/
    color: rgba(204, 51, 51, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 10px;
}

a.footer-link {
    text-decoration: underline;
    cursor: pointer;
    color: rgba(204, 51, 51, 0.6);
}

a.footer-link:hover {
    color: #CC3333;
}

#footer-name {
    text-align: left;
}

#footer-name span {
    margin-left: 10px;
}

#footer-links-div {
    text-align: right;
}

#footer-links-div div {
    margin-right: 10px;
}

#letters {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    max-width: 960px;
    background-color: rgba(255, 255, 255, 0.75);
    height: 60px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    z-index: 1;
}

#letters div {
    margin-top: 5px;
    /*margin-left: 5px;*/
}

#letter-links {
    padding-left: 20px;
    padding-right: 20px;
}

a.letters {
    text-decoration: underline;
    cursor: pointer;
    color: #CC3333;
}

a.letters:hover {
    color: #df5f5f;
}

#add {
    display: none;
}

.keyboard {
    position: fixed;
    top: 100px;
    left: 80px;
    border-style: solid;
    border-color: #bababa;
    border-radius: 6px;
    border-width: thin;
    z-index: 10000;
    padding: 10px;
    padding-bottom: 0;
    width: 33px;
}

input.key {
    margin: 0 0 10px 0;
    width: 33px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    text-transform: none;
    font-weight: normal;
}

.entry-list {
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-color: #737373;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

.last-entry {
    border-bottom-style: none;
}

#title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
}

input.delete-entry-button {
    margin-top: auto;
    border-color: #CC3333;
}

input.delete-entry-button:hover {
    border-color: #df5f5f;
}

a.description-anchor {
    margin-top: 30px;
    background-color: #fff;
    color: #CC3333;
    border-color: #CC3333;
}

a.description-anchor:focus {
    background-color: #fff;
    color: #CC3333;
    border-color: #CC3333;
}

a.description-anchor:hover {
    background-color: #fff;
    color: #df5f5f;
    border-color: #df5f5f;
}

#description {
    margin-top: 300px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    margin-bottom: 70px;
}

.second_part {
    margin-top: 30px;
    font-size: 10pt;
}

a.link {
    color: #CC3333;
}

a.link:hover {
    color: #df5f5f;
}

.contacts {
    font-size: 12pt;
    margin-top: 250px;
    /*padding-left: 200px;*/
    text-align: center;
}

.email {
    font-size: 16pt;
    /*font-weight: bold;*/
}