<!DOCTYPE html>
<html lang="ru">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Preview</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,300,700&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
{#    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/font.css') }}">#}

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="{{ url_for('static', filename='js/droid-serif-n4,i4,n7,i7-all.js') }}"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>
<body class>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="row search-row preview-row">
      <div class="articles">
          <div id="results"></div>
      </div>
    </div>

  <div class="modal"></div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
